{% extends "chess/base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="p-3">
        <form action="." method="post" class="form-inline d-flex justify-content-center">
            {% csrf_token %}
            {{ form.white }} {{ form.black }} {{ form.ignore_color.label }} {{ form.ignore_color }}
            <input type="submit" class="btn btn-success" value="search">
        </form>
    </div>
    {% if games %}
        <table class="table table-condensed table-striped table-sm table-responsive pr-4 pl-4">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>date</th>
                <th>white</th>
                <th>black</th>
                <th>moves</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ forloop.counter }}   </td>
                    <td>{{ game.date }}</td>
                    <td>{{ game.white }}</td>
                    <td>{{ game.black }}</td>
                    <td style="width: 65%">{{ game.moves }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}